In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel('insuranceData.xlsx')
df

                                  insuranceName  DiscountPercentage  Address
0                     Egypt In-Touch Assistance                0.25    Egypt
1                    GoodLife Insurance Brokers                0.54    Egypt
2             Tokio Marine Egypt Family Takaful                0.16    Egypt
3                     QNB Alahli Life Insurance                0.86    Egypt
4                        Smart Medical Services                0.39    Egypt
...                                         ...                 ...      ...
1659  AST Assekuranzmakler Schäffer & Team GmbH                0.59  Germany
1660                                    hepster                0.74  Germany
1661       Carl Rieck Assecuradeur Hamburg GmbH                0.86  Germany
1662                       Allianz Versicherung                0.81  Germany
1663   Allianz Hauptvertretung Schmaldienst OHG                0.83  Germany

[1664 rows x 3 columns]

In [4]:
df.duplicated().sum()

0

In [5]:
df.isnull().sum(axis=0)

insuranceName         0
DiscountPercentage    0
Address               0
dtype: int64

In [6]:
df.DiscountPercentage = df.DiscountPercentage*100

In [7]:
df['DiscountPercentage'] = df['DiscountPercentage'].astype(int)
df

                                  insuranceName  DiscountPercentage  Address
0                     Egypt In-Touch Assistance                  25    Egypt
1                    GoodLife Insurance Brokers                  54    Egypt
2             Tokio Marine Egypt Family Takaful                  16    Egypt
3                     QNB Alahli Life Insurance                  86    Egypt
4                        Smart Medical Services                  39    Egypt
...                                         ...                 ...      ...
1659  AST Assekuranzmakler Schäffer & Team GmbH                  59  Germany
1660                                    hepster                  74  Germany
1661       Carl Rieck Assecuradeur Hamburg GmbH                  86  Germany
1662                       Allianz Versicherung                  81  Germany
1663   Allianz Hauptvertretung Schmaldienst OHG                  83  Germany

[1664 rows x 3 columns]

In [8]:
df.to_excel(r'F:\insurance.xlsx')