In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
browser = webdriver.Chrome(ChromeDriverManager().install())
browser.maximize_window()

In [4]:
browser.get('https://www.lusha.com/company-search/insurance/105/egypt/171/')
html = browser.page_source

In [5]:
soup = BeautifulSoup(html,"html.parser")

In [6]:
egypt_c_names = soup.select('body > main > div.directory.page-wrapper > section:nth-child(2) > div > div > div > div > div > a')

In [7]:
import numpy as np
df = pd.DataFrame({
    'insuranceName':egypt_c_names,
    'DiscountPercentage':np.random.uniform(0.1, 0.9 , len(egypt_c_names)),
    'Address': np.repeat('Egypt',len(egypt_c_names))
})

In [8]:
df.head()

                         insuranceName  DiscountPercentage Address
0          [Egypt In-Touch Assistance]            0.675511   Egypt
1         [GoodLife Insurance Brokers]            0.658967   Egypt
2  [Tokio Marine Egypt Family Takaful]            0.595296   Egypt
3          [QNB Alahli Life Insurance]            0.637059   Egypt
4             [Smart Medical Services]            0.401985   Egypt

In [10]:
df.insuranceName[0].text

'Egypt In-Touch Assistance'

In [9]:
df.DiscountPercentage = df.DiscountPercentage.apply(lambda x:round(x,2))
df.insuranceName = df.insuranceName.apply(lambda x:x.text)

In [10]:
df.head()

                       insuranceName  DiscountPercentage Address
0          Egypt In-Touch Assistance                0.25   Egypt
1         GoodLife Insurance Brokers                0.54   Egypt
2  Tokio Marine Egypt Family Takaful                0.16   Egypt
3          QNB Alahli Life Insurance                0.86   Egypt
4             Smart Medical Services                0.39   Egypt

In [11]:
counries_urls = soup.select('section.directory-content.related-industries > div > div > div > div > div > a')

In [12]:
len(counries_urls)

9

In [13]:
for url in counries_urls:
    browser.get(url.get('href'))
    html = browser.page_source
    soup = BeautifulSoup(html,"html.parser")
    names = soup.select('body > main > div.directory.page-wrapper > section:nth-child(2) > div > div > div > div > div > a')
    new_df = pd.DataFrame({
    'insuranceName':names,
    'DiscountPercentage':np.random.uniform(0.1, 0.9 , len(names)),
    'Address': np.repeat(url.text.split('(')[0].strip(),len(names))
    })
    new_df.DiscountPercentage = new_df.DiscountPercentage.apply(lambda x:round(x,2))
    new_df.insuranceName = new_df.insuranceName.apply(lambda x:x.text)
    df = pd.concat([df,new_df])

In [17]:
df.to_excel('insuranceData.xlsx',index=False)